<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Discross - Home</title>
  <meta name="description"
    content="A work-in-progress unofficial Discord relay (that acts like a client) aiming to support all platforms that support HTML.">
  <meta name="keywords" content="Discord,client,wii,nintendo switch,switch">
  <meta name="author" content="circuit10#0158">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body bgcolor="#303338" style="margin: 0;">
  <table>
    <tr>
      <td><img src="./resources/logo.png" alt="Logo"></td>

      <td>
        <font size="7" face="Arial, Helvetica, sans-serif" color="#dddddd">discross</font>
      </td>
      <td width="100%" align="right">
        <font size="4" face="Arial, Helvetica, sans-serif" color="#dddddd">&#160;&#160;
          {$MENU_OPTIONS}
        </font>
      </td>
    </tr>
  </table>
  <hr style="margin: 0; position: relative; bottom: 4px;">
  <br>
  <table>
    <tbody>
      <tr>
        <td>
          &nbsp;&nbsp;&nbsp;&nbsp;
        </td>
        <td>
          <a style="color: #647dcd;" href='https://discordapp.com/invite/pXdeUqb'>
            <font color='#647dcd'>Join our Discord!</font>
          </a>
          <br>
          <a style="color: #647dcd;"
            href='https://discordapp.com/oauth2/authorize?client_id=596074053903581226&scope=bot&permissions=8'>
            <font color='#647dcd'>Add Discross to your server!</font>
          </a>
          <br>
          <a style="color: #647dcd;" href='https://github.com/Heath123/discross'>
            <font color='#647dcd'><del>Source code</del></font>
          </a>
          <font color='#dddddd'>Not uploaded yet</font>
          <br>
          <br>
          <font face="Arial, Helvetica, sans-serif" color="#dddddd">By logging in or registering you agree to the use of
            cookies</font>
          <br>
          <br>
          <font size="6" face="Arial, Helvetica, sans-serif" color="#dddddd">What is Discross?</font>
          <br>
          <br>
          <font face="Arial, Helvetica, sans-serif" color="#dddddd">A work-in-progress unofficial Discord relay (that
            acts like a client) aiming to support all platforms that support HTML. It uses webhooks and a bot so it
            doesn't need your user token, which would allow anyone to control your account. However, this means it only
            works on servers with the bot.
            <br><br>

            <font size="6" face="Arial, Helvetica, sans-serif" color="#dddddd">What platforms are supported?</font>
            <br>
            <br>
            <font face="Arial, Helvetica, sans-serif" color="#dddddd">Virtually anything, although you may not get all
              features. Platforms that are confirmed to work, to some extent:</font>
        </td>
      </tr>
  </table>
  <font face="Arial, Helvetica, sans-serif" color="#dddddd">
    <ul>
      <li>Nintendo Switch (requires a workaround to access the web browser)</li>
      <li>Nintendo Wii</li>
      <li>Windows 95/98</li>
    </ul>
    <font size="3" face="Arial, Helvetica, sans-serif" color="#aaaaaa">&#160;&#160;&#160;&#160;Discross version
      1.2.0-node-dev</font>
    <br>
</body>

</html>