<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Discross - Menu</title>
    <style>
        hr {
          border: solid 1px #494c50;
        }
    </style>
</head>

<body bgcolor="#303338">
    <table>
        <tbody>
            <tr>
                <td valign="top" style="vertical-align: top;">
                    <a href="/server/"><img src="/resources/logo.png" alt="Home" style="border-radius: 999px;" width="48px" height="48px"></a><br>
                    <hr noshade>
                    {$SERVER_LIST}
                </td>
                <td><font color="#303338">- </font></td>
                <td valign="top" style="vertical-align: top;">
                    {$CHANNEL_LIST}
                </td>
            </tr>
        </tbody>
    </table>
</body>

</html>